{% load static %}
{% block body %}
{% include 'navigation.html'%}
<link rel="stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.6.3/css/all.css;">
 
<marquee style="font-family: 'Times New Roman', Times, serif; font-size: 25px; color: darkcyan; background-color: black; font-weight: bold; margin-top: 1%;">
   Contact Us
</marquee>
<hr>
<div class ="container mt-5">
    <div class="row"> 
        <div class="col-sm-3">
            <h4 class="text-center">Contact</h4>
            <p class="text-center">+91 7070561580</p>
        </div>

    </div>

</div>
{% endblock %}